@font-face {
  font-family: 'icomoon';
  src:  url('icon/icomoon.eot?dncn1j');
  src:  url('icon/icomoon.eot?dncn1j#iefix') format('embedded-opentype'),
    url('icon/icomoon.ttf?dncn1j') format('truetype'),
    url('icon/icomoon.woff?dncn1j') format('woff'),
    url('icon/icomoon.svg?dncn1j#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bicben:before {
  content: "\e900";
}
