//variable
:root {
    //ค่าความกว้างของ sidebar
    --sidewidth: 58px; //ขนาดเริ่มต้น
    --sidewidth2: 280px; //ขนาดตอนขยาย

    //ค่า margin and padding ของ navlink
    --marginNavLink: 0rem;
    --paddingNavLink: 0.5rem 0.8rem;
    
    //ค่าสีต่างๆ
    --PrimaryColor1: #fb2098;
    --SecondaryColor1: #fcfcfc2f;
    --SecondaryColor2: #a8a8a8;

    //สี font
    --fontWhite: #f0f0f0;
    //เกี่ยวกับการเคลื่อนไหว
    --tranDuration: .3s;
    --tranFontDuration: .4s;

    //ค่า font body
    --bodyFont: 15px;

    //เกี่ยวกับ logo
    --fontBrandLogo: 1rem;
    --fontBrandLogoTag: 18px;
    --paddingBrandLogo: 1rem;
    --fontColorBrand: #fff;
}

//Breakpoint BS5

$media-bs-sm : 'min-width:576px';
$media-bs-md : 'min-width:768px';
$media-bs-lg : 'min-width:992px';
$media-bs-xl : 'min-width:1200px';
$media-bs-xxl : 'min-width:1400px';


// start element
html,body{
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: 100vh;
    width: 100wh;
    font-family: 'K2D', sans-serif;
    font-size: var(--bodyFont);
}

body{
    &.sidebar-expand{
        .bbp-sidebar{
            width: var(--sidewidth2);
            transform: translate(0%);
        }
        .nav-label{
            display: inline;
            opacity: 1 !important;
        }

        @media only screen and ($media-bs-sm){
            .bbp-sidebar{
                width: var(--sidewidth2);
            }
            .bbp-navbar{
                width: calc(100% - var(--sidewidth2));
                margin-left: var(--sidewidth2);
            }
            .bbp-container{
                width: calc(100% - var(--sidewidth2));
                margin-left: var(--sidewidth2);
            }
            .nav-label{
                display: inline;
                opacity: 1 !important;
            }
        }
    }
}


input,textarea,button,select{
    box-shadow: 0px 0px 0px !important;
}
p{
    margin-bottom: 0;
}

a{
    text-decoration: none;
}


// end element

//start color
.btn{
    &.btn-fixed-1{
        width: 100%;
        @media only screen and ($media-bs-sm){
            width: 200px;
        }
    }
    &.btn-fixed-modal{
        width: 40%;
        @media only screen and ($media-bs-sm){
            width: 160px;
        }
    }
}
//end color

.bbp-wrapper{
    height: 100%;
    position: relative;
    &.wrap-primary{
        background-color: #E9ECEF;
    }
}

.bbp-sidebar{
    height: 100vh;
    z-index: 1020;
    width: var(--sidewidth);
    transform: translate(-100%); 
    transition: width var(--tranDuration) , transform 0.6s;
    top: 0;
    left: 0;
    overflow: hidden;
    overflow-y: auto;

    .nav-link{
        color: #f1f1f1 !important;
    }
    hr{
        margin: 0.5rem 0;
    }

    @media only screen and ($media-bs-sm){
        height: 100vh;
        top: 0;
        left: 0;
        display: block;
        overflow: hidden;
        overflow-y: auto;
        transform: translate(0%); 
        width: var(--sidewidth);
        transition: width var(--tranDuration);
        &:hover{
            width: var(--sidewidth2);
            .nav-label{
                display: inline;
                opacity: 1 !important;
            }
        }
        
    }
    

}

.bbp-navbar{
    width: 100%;
    @media only screen and ($media-bs-sm){
        width: calc(100% - var(--sidewidth));
        margin-left: var(--sidewidth);
        transition: width var(--tranDuration), margin-left var(--tranDuration);
    }
}

.bbp-container{
    width: 100%;
    padding: 12px;
    @media only screen and ($media-bs-sm){
        padding: 12px;
        width: calc(100% - var(--sidewidth));
        margin-left: var(--sidewidth);
        transition: width var(--tranDuration), margin-left var(--tranDuration);

    }
}

.content-login {
    color: #666666;
    padding: 5%;
    width: 100%;
    @media only screen and ($media-bs-sm){
        color: #666666;
        padding: 20px;
        width: 420px;
    }
}


.nav-label{
    position: absolute;
    overflow: hidden;
    display: inline;
    margin-left: 0.6rem;
    opacity: 0;
    transition: opacity var(--tranFontDuration);
    width: 80%;
}






.nav-link{
    padding: var(--paddingNavLink);
    margin: var(--marginNavLink);
    transition: background-color .8s;
    &:hover{
        color: var(--fontWhite) !important;
        background-color:var(--SecondaryColor1);
    }
    &.active{
        color: var(--fontWhite) !important;
        background-color: var(--PrimaryColor1) !important;
    }
}

//start scroll

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  100%)) {
	&::-webkit-scrollbar {
	  width:  $size;
	  height: $size;
	}  
	&::-webkit-scrollbar-thumb {
	  background: $foreground-color;
	}  
	&::-webkit-scrollbar-track {
	  background: $background-color;
	}  
	& {
	  scrollbar-face-color: $foreground-color;
	  scrollbar-track-color: $background-color;
	}
}

.bbp-sidebar{
	@include scrollbars(5px,var(--PrimaryColor1),var(--SecondaryColor));
}


//end scroll

//start brand logo
.brand-logo{
    white-space: nowrap;
    padding: var(--paddingBrandLogo);
    font-size: var(--fontBrandLogo);
    color: var(--fontColorBrand) !important;
    p{
        font-size: var(--fontBrandLogoTag);
    }
}
//end brand logo

//start backdrop
.side-backdrop{
    position: fixed;
    height:100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
//end backdrop

// icon and badge submenu
.bbp-sidebar>nav>ul>li>a>p> .end{
    position: absolute;
    top: .3rem;
    right: 0;
}

.bbp-sidebar>nav>ul>li>ul>li>a.active{
    color: #666666 !important;
    background-color:#ffffffe5 !important;
}

.icon-end{
    position: absolute !important;
    right: 0 !important;
    z-index: 50 !important ;
}

//start sub menu

.collapsing{
    margin: 0;
    display: block ;
    overflow: hidden ;
    transition: height .20s ease;
    li>a>.nav-label{
        margin-left:0.35rem;
        position: relative;
        z-index: 100;
    }
}

.collapse>li{
    width: 100%;
}

.nav-link>p>i{
    transition: transform 0.5s;
    transform: rotate(0);
}
.nav-link.open>p>i{
    transform: rotate(-90deg);
}

// start autocomplete
.ui-autocomplete {
    &.ui-h-50{
        overflow: hidden;
        overflow-y: auto !important;
        height: 300px !important;
    }
}
// end autocomplete

//start sub menu

.dropdown-btn-width>li .dropdown-item{
    width: 240px;
}

// start font color
.fc-grey{
    color:#777777;
}


    
    // @media only screen and ($media-bs-sm){
    //     //576px
    // }
    // @media only screen and ($media-bs-md){
    //     //768px
    // }
    // @media only screen and ($media-bs-lg){
    //     //992px
    // }
    // @media only screen and ($media-bs-xl){
    //     //1200px
    // }
    
